#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: azure;
  margin-top: 60px;
}

canvas {
  position: fixed;
  top: 0%;
  left: 0%;
}

main {
  position: absolute;
  color: white;
  text-shadow: 2px;
}

body {
  /* background-color: #bcd2ee; */
  color: white;
  font-family: consolas;
}

table {
  position: absolute;
  top: 0%;
  right: 0%;
}

thead {
  color: #5b3e3b;
  font-weight: 100;
}

/* #curve {
  background-color: #4358c2;
  height: 100%;
  width: 50%;
  position: fixed;
  left: -20%;
  top: 0%;
  z-index: -1;
  border-radius: 40%;
} */

#headshot {
  position: relative;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

#infobar {
  background-color: #89abd8a4;
  position: fixed;
  padding: 0px 10px 0px 10px;
  bottom: 0%;
  left: 0%;
  width: auto;
}

#content {
  position: relative;
  top: 30%;
}

#menu {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0%;
  left: 0%;
  width: auto;
  justify-content: left;
  align-items: center;
  background-color: #98bdec;
  margin-left: 200px;
}

.menuItems {
  font-size: 20px;
  margin: 10px;
  text-decoration: none;
}

#languageMenu {
  font-family: monospace;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0%;
  right: 0%;
  width: auto;
  justify-content: right;
  align-items: center;
  background-color: #98bceca9;
  padding: 0px 5px 0px 5px;
  overflow: hidden;
}

.languageMenuItems {
  font-size: 1em;
  margin: 5px;
  text-decoration: none;
}

#name {
  position: absolute;
  top: 0%;
  left: 0%;
  margin-top: 60px;
  margin-left: 205px;
}

.active {
  text-decoration: underline;
  /* background-color: #82b0ec; */
}
